
{% extends 'shared/base.html' %}
{% block body %}
    <!-- Home section start -->
    <div id="home" class="hero-bgr home">
      <div class="hero-unit">
        <!-- Tagline -->
        <h1>Jacob Duval Web Development</h1>
        <div id="showcase" class="carousel container slide hidden-phone hidden-tablet">
          <!-- Carousel item start -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="{{ STATIC_URL }}img/Logo.png" class="showcase-img span6"
              alt="Website" />
              <div class="span5">
                <h2>Fluffy Link</h2>
                <p>Fluffy link was a project that went from conception to being live in under 48 hours.
                    It was made as an alternative to tinyUrl for people who wanted shortened links
                    (or even just nicer sounding links) to entice their friends visit other websites.
                </p>
              </div>
            </div>
            <!-- Carousel item end -->
              <div class="item">
                  <img src="{{ STATIC_URL }}img/mvc4Image.png" class="showcase-img span6"
                       alt="Website" />
                  <div class="span5">
                      <h2>MVC4 Template</h2>
                      <p>MVC4 Template was a template project that I created after my experience making
                          a very large, highly structured social media website. With an emphasis on large scale
                          architecture and modular web services the MVC4 template should help any developer begin
                           any large project the right way.
                      </p>
                  </div>
              </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#showcase" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#showcase" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    <!-- Home section end -->
    <div class="container">
      <div id="about" class="row about">
        <h1 class="page-header">About Me</h1>
        <!-- Your portrait photo -->
        <img src="{{ STATIC_URL }}img/20120502_095130.jpg" class="span4" alt="Me" />
        <!-- Your description start -->
        <div class="span8">
          <p>
            I am a web developer from Christchurch, New Zealand. My experience is mainly with large scale, enterprise, web
              applications and I always strive to provide my clients with a stable and maintanable system. My passion for web
              development started shortly after I finished university and it has given me the drive to make the best applications
              that I possibly can. The web industry moves very quickly and I believe it is important to stay ahead of the curve in both
              front end technologies and back end coding.
          </p>
          <p>
            I provide solutions ranging from personal home pages (much like this one) all the way up to enterprise and social media applications.
             I believe that visibility and communication are the most important considerations when creating a website
              and I try to make sure my clients are involved as much as possible. Feel free to contact me if you have any
              questions regarding a solution for you or your business, or just any web developement questions in general.
          </p>
        </div>
        <!-- Your description end -->
      </div>
      <!-- Portfolio section start -->
      {% comment %}<div id="portfolio" class="row portfolio">
        <h1 class="page-header">My Work</h1>
        <div class="container">
          <!-- The portfolio is made of a slider that shows big visual
          thumbnails of the products with next and previous controls
          at the bottom -->
          <div id="portfolio-slide" class="carousel slide">
            <div class="carousel-inner">
              <!-- Portfolio Item start with double thumbnails -->
              <div class="active item">
                <ul class="thumbnails">
                  <!-- Thumbnail start -->
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <!-- Thumbnail image -->
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <!-- Thumbnail title -->
                      <h3>Website Name</h3>
                      <!-- Thumbnail description -->
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                  <!-- Thumbnail end -->
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Portfolio item end -->
              <div class="item">
                <ul class="thumbnails">
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Portfolio controls start -->
            <ul class="pager">
              <li class="previous">
                <a href="#portfolio-slide" data-slide="prev">&larr; Previous</a>
              </li>
              <li class="next">
                <a href="#portfolio-slide" data-slide="next">Next &rarr;</a>
              </li>
            </ul>
            <!-- Portfolio controls end -->
        </div>
      </div>{% endcomment %}
    </div>
    <!-- Portfolio section end -->
    <!-- Contact section start -->
    <div id="contact" class="row contact">
      <!-- Contact info card start -->
      <div class="contact-info span5">
        <h1 class="page-header">Contact Me!</h1>
        <p><i class="icon-envelope"></i> jladuval@gmail.com</p>
        <p><i class="icon-phone"></i> (+64) 027 3035 176</p>
        <a href="https://twitter.com/JacobDuval"><i class="icon-twitter-sign"></i> @JacobDuval</a>
         <br/>
        <a href="https://github.com/jladuval"><i class="icon-github"></i> jladuval</a>
        <address>
          <strong><i class="icon-map-marker"></i> Location</strong>
          <br />
          232 Ilam Road
          <br />
          Christchurch, Canterbury
        </address>
      </div>
      <iframe class="hidden-phone" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.co.nz/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=232+ilam+road&amp;aq=&amp;sll=-40.799894,175.310128&amp;sspn=58.660975,135.263672&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=232+Ilam+Rd,+Ilam,+Christchurch+8041,+Canterbury&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
      <!-- Map end -->
    </div>

    <!-- Contact section end -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock %}

