
{% extends 'shared/base.html' %}
{% block body %}
    <!-- Home section start -->
    <div id="home" class="hero-bgr home">
      <div class="hero-unit">
        <!-- Tagline -->
        <h1>Jacob Duval Web Development</h1>
        <div id="showcase" class="carousel container slide hidden-phone hidden-tablet">
          <!-- Carousel item start -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="{{ STATIC_URL }}img/screen.png" class="showcase-img span6"
              alt="Website" />
              <div class="span5">
                <h2>Fluffy Link</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Nam sit amet diam ac felis condimentum
                egestas. Vivamus egestas felis at quam interdum sed
                vulputate nulla luctus. Duis placerat orci est. Lorem
                ipsum dolor sit amet, consectetur adipiscing
                elit. Quisque laoreet, nibh sed molestie interdum,
                erat lectus sodales dolor, consequat blandit ipsum
                diam non magna. Phasellus quis elit ut odio blandit
                fringilla a vitae dolor. Morbi vulputate eros in
                tortor laoreet pharetra. Fusce a congue odio.</p>
              </div>
            </div>
            <!-- Carousel item end -->
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#showcase" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#showcase" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    <!-- Home section end -->
    <div class="container">
      <div id="about" class="row about">
        <h1 class="page-header">About Me</h1>
        <!-- Your portrait photo -->
        <img src="{{ STATIC_URL }}img/20120502_095130.jpg" class="span4" alt="Me" />
        <!-- Your description start -->
        <div class="span8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Integer sit amet nisi nisl. Suspendisse faucibus mi ac
          felis lobortis nec malesuada metus tempus. In hac habitasse
          platea dictumst. Quisque a diam a ante ultrices aliquet eu
          non dolor. Nullam purus ipsum, porta non ornare sit amet,
          aliquam quis lacus. Donec dapibus, nisi vitae commodo
          ultrices, ligula lacus posuere eros, id tincidunt nisi risus
          nec neque. Nunc pellentesque fringilla tempor. Donec eu nibh
          eget quam sodales aliquam. Curabitur neque neque, volutpat
          id vulputate eu, euismod a leo. Phasellus aliquam laoreet
          nibh at dignissim. Duis vel libero libero, viverra interdum
          diam.</p>
          <p>Curabitur id dignissim lacus. Morbi tristique, erat non
          mollis feugiat, purus turpis aliquet odio, vitae pulvinar
          nibh massa vel velit. Donec eleifend, felis quis euismod
          lacinia, quam dui ultricies mi, ac consequat libero felis ac
          dolor. Sed volutpat volutpat malesuada. Praesent et felis
          neque, et aliquam turpis. Nullam massa tellus, viverra in
          egestas nec, posuere id sapien. Aliquam erat
          volutpat. Integer nec eros ipsum. Suspendisse ac felis nisl,
          et tincidunt sapien. Ut tincidunt nulla aliquam nibh
          tincidunt in placerat elit facilisis. Donec et massa diam,
          vitae ultrices arcu. Aenean non tellus sed ipsum eleifend
          porttitor. Donec elementum tempor urna, non posuere mauris
          cursus et. Aliquam ac lectus augue, id suscipit
          nunc. Vestibulum a nunc enim, vitae dictum lorem. Quisque
          non sem orci, in bibendum arcu.</p>
        </div>
        <!-- Your description end -->
      </div>
      <!-- Portfolio section start -->
      <div id="portfolio" class="row portfolio">
        <h1 class="page-header">My Work</h1>
        <div class="container">
          <!-- The portfolio is made of a slider that shows big visual
          thumbnails of the products with next and previous controls
          at the bottom -->
          <div id="portfolio-slide" class="carousel slide">
            <div class="carousel-inner">
              <!-- Portfolio Item start with double thumbnails -->
              <div class="active item">
                <ul class="thumbnails">
                  <!-- Thumbnail start -->
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <!-- Thumbnail image -->
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <!-- Thumbnail title -->
                      <h3>Website Name</h3>
                      <!-- Thumbnail description -->
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                  <!-- Thumbnail end -->
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Portfolio item end -->
              <div class="item">
                <ul class="thumbnails">
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                  <li class="span6">
                    <div class="thumbnail">
                      <a href="#">
                        <img src="http://placehold.it/600x375" alt="">
                      </a>
                      <h3>Website Name</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam sit amet diam ac felis condimentum
                        egestas. Vivamus egestas felis at quam interdum sed
                        vulputate nulla luctus.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Portfolio controls start -->
            <ul class="pager">
              <li class="previous">
                <a href="#portfolio-slide" data-slide="prev">&larr; Previous</a>
              </li>
              <li class="next">
                <a href="#portfolio-slide" data-slide="next">Next &rarr;</a>
              </li>
            </ul>
            <!-- Portfolio controls end -->
        </div>
      </div>
    </div>
    <!-- Portfolio section end -->
    <!-- Contact section start -->
    <div id="contact" class="row contact">
      <!-- Contact info card start -->
      <div class="contact-info span5">
        <h1 class="page-header">Contact Me!</h1>
        <p><i class="icon-envelope"></i> jladuval@gmail.com</p>
        <p><i class="icon-phone"></i> (+64) 027 3035 176</p>
        <a href="https://twitter.com/JacobDuval"><i class="icon-twitter-sign"></i> @JacobDuval</a>
         <br/>
        <a href="https://github.com/jladuval"><i class="icon-github"></i> jladuval</a>
        <address>
          <strong><i class="icon-map-marker"></i> Location</strong>
          <br />
          232 Ilam Road
          <br />
          Christchurch, Canterbury
        </address>
      </div>
      <!-- Contact info card end -->
      <!-- Map start NOTE: You can remove the map if you don't want to
      use one and leave the contact-info small, or if you
      want it to occupy the whole space add 'no-map' class to it. 
      To embed your own map follow these instructions
      http://support.google.com/maps/bin/answer.py?hl=en&answer=72644
      and replace the code below with your own -->
      <iframe class="hidden-phone" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.co.nz/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=232+ilam+road&amp;aq=&amp;sll=-40.799894,175.310128&amp;sspn=58.660975,135.263672&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=232+Ilam+Rd,+Ilam,+Christchurch+8041,+Canterbury&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
      <!-- Map end -->
    </div>

    <!-- Contact section end -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock %}

