.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url("../img/project_papper.png");
  overflow-x: hidden;
}
.navbar {
  background: url("../img/project_papper.png");
}
.navbar .navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.8);
}
.navbar .navbar-inner .brand {
  color: #4ea4ff;
  text-shadow: 0px 0px 1px #555555;
}
.hero-bgr {
  padding-bottom: 40px;
  background: url('../img/blueprint.jpg');
  height: 620px;
}
.hero-bgr .hero-unit {
  background-color: rgba(0, 100, 205, 0.5);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(256, 256, 256, 0.4)), to(rgba(0, 100, 205, 0.5)));
  background-image: -webkit-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -moz-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -ms-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-image: -o-radial-gradient(top, rgba(256, 256, 256, 0.4), rgba(0, 100, 205, 0.5));
  background-repeat: no-repeat;
  /* IE7 and IE8 hack */

  background-color: transparent\9;
  padding: 0px;
  padding-bottom: 40px;
  height: inherit;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.hero-bgr .hero-unit h1 {
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  position: relative;
  top: 30px;
}
.hero-bgr .hero-unit .container {
  top: 100px;
}
.hero-bgr .hero-unit .container img {
  margin-left: 70px;
}
.hero-bgr .hero-unit .container .span5 {
  margin-left: 10px;
}
.hero-bgr .hero-unit .container .span5 h2 {
  text-align: left;
  text-shadow: none;
  color: #ffffff;
}
.hero-bgr .hero-unit .container .span5 p {
  color: #ffffff;
  text-align: left;
  line-height: 30px;
}
.page-header {
  border-bottom: 1px solid #999999;
  font-size: 40px;
  text-transform: uppercase;
  color: #049cdb;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.about {
  min-height: 620px;
  padding-bottom: 40px;
}
.about .span8 p {
  line-height: 30px;
}
.portfolio {
  min-height: 620px;
  padding-bottom: 40px;
}
.contact {
  min-height: 620px;
  padding-bottom: 40px;
}
.contact .contact-info {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px;
  border: 1px solid #999999;
  border-top: none;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../img/envelope-border-1.png');
  background-repeat: repeat-x;
  /* IE7 and IE8 hack */

  background-color: white\9;
}
.contact .contact-info p {
  font-size: 15px;
}
.contact .contact-info p i {
  padding: 5px;
}
.contact .contact-info address {
  padding: 5px;
}
.contact .contact-info address strong {
  font-size: 15px;
}
.contact .no-map {
  position: static;
  width: 97.1%;
  min-height: 620px;
  padding: 50px;
  margin-top: 0px;
  margin-left: 0px;
}
.contact iframe {
  width: 100%;
  height: 620px;
}
/* !!!RESPONSIVE!!! */
/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    overflow: visible;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  .navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home {
    height: 400px;
  }
  .home .hero-unit h1 {
    top: 100px;
  }
  .about {
    height: auto;
  }
  .portfolio {
    height: auto;
  }
  .contact {
    height: auto;
  }
  .contact .contact-info {
    position: static;
    height: 450px;
    margin: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    overflow: visible;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  .navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home {
    height: 400px;
  }
  .home .hero-unit h1 {
    top: 100px;
  }
  .about {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    height: auto;
  }
  .contact .contact-info {
    position: static;
    height: 450px;
    margin: 0;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    overflow: visible;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  .navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .home {
    height: 400px;
  }
  .home .hero-unit h1 {
    top: 150px;
  }
  .about {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    height: auto;
  }
  .contact .contact-info {
    margin-top: 50px;
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Make carousel full width on screen less than 1024px */
@media (max-width: 1024px) {
  .hero-bgr .hero-unit .container {
    margin-right: none;
    margin-left: none;
    width: 100%;
  }
}
